.body_backgorund {
  background-image: url("Screenshot\ 2021-11-27\ at\ 8.57.01\ PM.png");
  background-position: center;
  background-size: cover;
}
body{
  cursor: pointer;
}
.login_div1 , .login_div2
{
  background: white;
  padding: 10px;
  float: none;
  border-radius: 15px;
}


#player1_name , #player2_name
{
display: inline-block;
margin-left: 20px;
}
#word
{
width: 60%;
}
#word_display
{
letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
.line {
  height: 6px;
  background-color: rgb(198, 13, 255);
  width: 150px;
  margin: 8px auto;
}
.button{

border-radius: 10px;
}
.body-backgorund {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr8JdTmQty6aTdtfu0IEXvCKdcYravUff7pw&usqp=CAU");
background-position: center;
background-size: cover;
}